* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #e0e0e0;
  background-color: #0d0d0d;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 1.2;
}

ul {
  list-style: none;
}
